.wrapper {
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.nav {
    display: none;
}

.header {
    background-image: url('../images/header.png');
    background-size: cover;
    min-height: 375px;
}

.text {
    margin-top: 20px;
    padding: 0 30px;
    color: white;
}

.text__subtitle {

}
@media screen and (min-width: 320px) {
    .box {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 768px){
    .nav {
        display: block;
    }
    .nav__menu-btn {
        display: none;
    }
    .wrapper {
        background-color: transparent;
    }
    .menu li a {
        text-decoration: none;
        color: white;
        margin: 20px;
    }
}
@media screen and (min-width: 1024px){

}
@media screen and (min-width: 1280px){

}