
.wrapper{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
.nav{
    display: none;
}
.header{
    background: url(../images/header.png) no-repeat center center / cover;
    height: 400px;
}
.nav{
    display: none;
}
.text{
    text-align: left;
    padding-top: 180px;
}

.btn{
    border-radius: 28px;
    display: inline-block;
    text-decoration: none;
}
.btn__primary{
    color: #7E459B;
    background: #FFF;
}
.btn, .btn__secondary{
    color: #FFF;
    border: 2px solid #FFF;
    
}
.box__icons{
    padding: 25px;
}
.box{
    padding: 25px;
}

@media screen and (  min-width: 769px ){
    .nav{
        display: flex;
    }
    .menu{
        display: flex;
        color: blueviolet;
    }
    .menu li a{
        text-decoration: none;
        color: white;
        text-align: right;
}