.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px o;
}

.nav{
    display: none;
}

header { 
    background-image:url(../images/header.png) ;
    background-size: cover;
    min-height: 375px;
}.text{
    
}